@import 'variables';
.move-detail{
  display: flex;
  gap: 30px;
  &__imgbox{
    position: relative;
    width: 50%;
    height: 600px;
  }
  img{
    border-radius: 10px;
  }
  &__content{
    width: 50%;
  }  
  &__description{
    color: $color-white;
    margin-bottom: 20px;
  }
  &__item{
    color: $color-white;
    padding: 5px 0;
    &:first-child{
      font-size: $font-size-heading-m;
      font-weight: 600;
    }
  }
  &__rating-imdb{
    color: $color-white;
    span{
      font-size: $font-size-heading-m;
      font-weight: 600;
    }
  }
}